header{min-height: 750px;}

.bg-red {background-color:#dc3545!important;}

.menu {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
}

.menu:hover {
  background-color: yellow;
}

.close {
  width: 75px;
  height: 75px;
  background-color: red;
  position: fixed;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  z-index: 4;
  cursor: pointer;
  display: none;
}

.close.show {
  display: block;
}

.close:hover {
  background-color: yellow;
}

.essay {
  width: 50%;
  height: 100vh;
  overflow: scroll;
  font-family: courier;
  position: fixed;
  background-color: #A759F0;
  right: 0;
  top: 0;
  z-index: 3;
  margin-right: -50%;
  transition: 1s;

}

.essay.slide {
  margin-right: 0;
  transition: 1s;
  opacity: 0.8;
  border: 20px solid transparent;
  padding: 15px;
  border-radius: 10px;
}

.essay h1 {
  font-size: 36px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 100px;
}

.essay p {
  font-size: 24px;
  padding: 24px;
}

.divaudio {
  margin-top: 40%;
}

#audio {
  width: 150px;
}

.start {
  position: relative;
  z-index: 2;
  margin-top: 60%;
}
.step2 {
  padding-top: 200px;
  margin-bottom: 50%;
  position: relative;
  z-index: 2;
}

.messege {
  font-size: 30px;
}

.buttom-main {
  font-size: 25px!important;
  padding: 5px;
  margin: 5px;
}
.buttom-not {
  font-size: 8px!important;
  margin-left: 15px;
}
.bg-vasti {
  background-image: url("img/vasti.jpg");
  background-repeat: no-repeat;
  margin: -17px;
}
.bg-vasti img {
  opacity: 0.2;
  filter: blur(8px);
}

.r-love1 {
  transform: rotate(-45deg);
}
.r-love2 {
  transform: rotate(20deg);
}

.r-love3 {
  transform: rotate(-10deg);
}

.r-love4 {
  transform: rotate(50deg);
}

.r-love5 {
  transform: rotate(-30deg);
}


/* Solid border */
hr.solid {
  border-top: 3px solid #fff;
}

#heart1 {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 1s infinite;
    margin:0 auto
}
#heart1:before,
#heart1:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fff;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart1:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}



@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.heart-bottom-side-1 {
  -ms-transform: rotate(5deg); /* IE 9 */
  transform: rotate(5deg);
}





html,body{
  height:100%
}

.bg_heart {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position:fixed;
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}

.padding-text-love {
  padding-top: 20px;
}
